*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.menu {
    color: white;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    height: 90px;
    background-image: url(images/143945456632419a642697.53053640bg.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
}
header {
    padding: 0px 20px;
    margin: 0 auto;
    max-width: 1480px;
}
.content {
    margin-left: auto;
}
.nav_list {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}
.nav_item {
    list-style-type: none;
    transition: 1s;
}
.nav_item:hover {
    transition: 1s;
    color: #BDAE82;
    cursor: pointer;
}
.language {
    display: flex;
    gap: 5px;
}
.english:hover{
    cursor: pointer;
    color: #BDAE82;
}
.russian:hover{
    cursor: pointer;
}
.sun {
    margin-left: 20px;
    width: 45px;
    height: 45px;
    background-image: url(images/sun.svg);
    transition: filter 1s;
    cursor: pointer;
}
.sun:hover {
    transition: filter 1s;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.camera {
    transition: filter 1s;
    cursor: pointer;
}
.camera:hover {
    transition: filter 1s;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.sec_hero {
    height: 820px;
    background-image: url(images/143945456632419a642697.53053640bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;

}
.container {
    padding: 0 20px;
    max-width: 1480px;
    margin: 0 auto;
}
.info {
    color: white;
    margin-left: 130px;
    width: 450px;
    padding-top: 100px;
}
.alexa {
    font-size: 60px;
    font-family: "Roboto Slab", serif;
}
.description {
    font-size: 20px;
    padding-top: 20px;
    line-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button_hire-me {
    background-color: #BDAE82;
    padding: 12px 70px;
    font-size: 20px;
    margin-top: 30px;
    border: 0px solid;
    transition: 1s;
}
.button_hire-me:hover {
    cursor: pointer;
    color: white;
    transition: 1s;
}
.skills {
    color: #BDAE82;
    margin-top: 110px;
}
.name_skills {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 700px;
    margin: 0 auto;
    gap: 25px;
}
.line {
    background-color: #BDAE82;
    height: 2px;
    width: 50%;
}
.main_skills {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    margin-top: 100px;
}
.describe_skill {
    width: 300px;
    height: 240px;
    color: white;
    text-align: center;
}
.name-with-desc {
    padding-top: 50px;
    line-height: 30px;
}
.portfolio {
    color: #BDAE82;
    margin-top: 100px;
}
.seasons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 7px;
}
.season {
    background-color: black;
    padding: 12px 0;
    font-size: 20px;
    margin-top: 30px;
    border: 1px solid #BDAE82;
    width: 200px;
    text-align: center;
    color: #BDAE82;
    transition: 0.5s;
}
.season:hover {
    transition: 0.5s;
    color: white;
    cursor: pointer;
}
.season.active {
    background-color: #BDAE82;
    padding: 12px 0;
    font-size: 20px;
    margin-top: 30px;
    border: 0px solid;
    width: 200px;
    text-align: center;
    color: white;
}
.images {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}
.videoPlayer {
    margin: 0 auto;
    width: 1400px;
}
.vid {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.video {
    color: #BDAE82;
    margin-top: 100px;
}
.price {
    color: white;
    margin-top: 100px;
    max-width: 1480px;
}
.variants {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}
.option {
    border: 3px solid #BDAE82;
    padding: 30px;
    text-align: center;
    width: 28%;
}
.option_price {
    color: #BDAE82;
    font-size: 24px;
    line-height: 45px;
    margin: 15px 0;
}
.option_name {
    font-size: 28px;
    line-height: 45px;
}
.name_skills h2 {
    color: #BDAE82;
}
.option_desc {
    line-height: 40px;
    font-size: 18px;
}
.order_button {
    background-color: #BDAE82;
    color: black;
    border: 1px solid #BDAE82;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 40px;
    transition: 0.5s;
}
.order_button:hover {
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.contact_me {
    color: #BDAE82;
    background-image: url(images/143945456657292c10e1a4.70072612contacts.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    margin-top: 150px;
    padding-right: 100px;
    padding-top: 100px;
    width: 1480px;
}
.contact_me h1 {
    font-size: 50px;
}
.contact_me_form {
    width: 500px;
    margin-left: auto;
}
.contact_me_input {
    background-color: rgba(0, 0, 0, 0.461);
    width: 100%;
    border: 3px solid #BDAE82;
    color: #BDAE82;
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 40px;
}
.contact_me_input::placeholder {
    color: #BDAE82;
}
.contact_me_text {
    background-color: rgba(0, 0, 0, 0.461);
    border: 3px solid #BDAE82;
    width: 100%;
    color: #BDAE82;
    padding: 20px 15px;
    font-size: 20px;
    resize: none;
    margin-top: 40px;
}
.contact_me_text::placeholder {
    color: #BDAE82;
}
.send_message {
    background-color: #BDAE82;
    text-align: center;
    padding: 15px 40px;
    color: black;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid #BDAE82;
    margin-top: 40px;
}
.send_message:hover {
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
footer {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    margin: 50px auto;
    width: 1480px;
    align-items: center;
    padding: 0 20px;
}
.icons img{
    margin: 0 10px;
}
.footer_text {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.footer_text a {
    color: white;
    text-decoration: none;
}