*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.menu {
    color: white;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    height: 90px;
    background-image: url(images/143945456632419a642697.53053640bg.jpg);
    background-position: center 0;
}
header {
    padding: 0px 20px;
    
}
.content {
    margin-left: auto;
}
.nav_list {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}
.nav_item {
    list-style-type: none;
    transition: 1s;
}
.nav_item:hover {
    transition: 1s;
    color: #BDAE82;
    cursor: pointer;
}
.language {
    display: flex;
    gap: 5px;
}
.english:hover{
    cursor: pointer;
    color: #BDAE82;
}
.russian:hover{
    cursor: pointer;
}
.sun {
    margin-left: 20px;
    width: 45px;
    height: 45px;
    background-image: url(images/sun.svg);
    transition: filter 1s;
    cursor: pointer;
}
.sun:hover {
    transition: filter 1s;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.camera {
    transition: filter 1s;
    cursor: pointer;
}
.camera:hover {
    transition: filter 1s;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.sec_hero {
    height: 820px;
    background-image: url(images/143945456632419a642697.53053640bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;

}
.container {
    padding: 0 20px;
    max-width: 1480px;
    margin: 0 auto;
}
.info {
    color: white;
    margin-left: 130px;
    width: 450px;
    padding-top: 100px;
}
.alexa {
    font-size: 60px;
    font-family: "Roboto Slab", serif;
}
.description {
    font-size: 20px;
    padding-top: 20px;
    line-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button_hire-me {
    background-color: #BDAE82;
    padding: 12px 70px;
    font-size: 20px;
    margin-top: 30px;
    border: 0px solid;
    transition: 1s;
}
.button_hire-me:hover {
    cursor: pointer;
    color: white;
    transition: 1s;
}
.skills {
    color: #BDAE82;
    margin-top: 110px;
}
.name_skills {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 700px;
    margin: 0 auto;
    gap: 25px;
}
.line {
    background-color: #BDAE82;
    height: 2px;
    width: 50%;
}
.main_skills {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    margin-top: 100px;
}
.describe_skill {
    width: 300px;
    height: 240px;
    color: white;
    text-align: center;
}
.name-with-desc {
    padding-top: 50px;
    line-height: 30px;
}
.portfolio {
    color: #BDAE82;
    margin-top: 100px;
}
.seasons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 7px;
}
.season {
    background-color: black;
    padding: 12px 0;
    font-size: 20px;
    margin-top: 30px;
    border: 1px solid #BDAE82;
    width: 200px;
    text-align: center;
    color: #BDAE82;
    transition: 0.5s;
}
.season:hover {
    transition: 0.5s;
    color: white;
    cursor: pointer;
}
.season.active {
    background-color: #BDAE82;
    padding: 12px 0;
    font-size: 20px;
    margin-top: 30px;
    border: 0px solid;
    width: 200px;
    text-align: center;
    color: white;
}
.images {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}